* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --hr-color: #da0909;
    --h1-color: rgb(44, 54, 67);
    --Text-mid: center
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5FCFF;
}

nav {
    padding-bottom: 1vh;
    background-color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: 0.9;
}

nav ul li {
    text-align: var(--Text-mid);
    text-decoration: none;
    margin: 15px auto;
    list-style: none;
}

nav ul li a:focus, .logo:focus {
    color: var(--hr-color);
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav img {
    color: white;
    display: inline-block;
    height: 4vh;
    width: 6vw;
}

.logo {
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}



.banner img {
    height: 100vh;
    width: 100%;
    margin-bottom: 40px;
}

.banner h1 {
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #FFFFFF;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    position: absolute;
    text-align: var(--Text-mid);
    top: 60%;
    left: 5%;
    text-shadow: 2px 2px #000000;
}

.banner button {
    /* Problemen met schaling in chrome, browser support */
    background-color: transparent;
    padding: 20px 20px 15px;
    border-width: 2px;
    border-style: solid;
    border-radius: 17px;
    color: white;
    position: absolute;
    top: 80%;
    /* margin-left: auto; */
    /* Werkt in firefox maar geen chrome */
    margin-right: auto;
    left: 45%;
}

.banner button:focus {
    background-color: var(--hr-color);
}


.aanbevolen,
.komtlater {
    text-align: var(--Text-mid);
    color: #3b444f;
    font-size: 20px;
    max-width: 100%;
    font-weight: 300;
    display: inline-grid;
    margin: 4vw;
}


hr {
    color: var(--hr-color);
    width: 15%;
    margin: auto;
    margin-bottom: 10vh;
}




.lijst {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, auto);
    overflow-x: scroll;
    justify-items: center;
}



.lijst li {
    height: 535px;
    width: 300px;
    margin: 10px;
    background-color: white;
    list-style: none;
    text-align: var(--Text-mid);
    color: white;
    margin-bottom: 80px;
}



.lijst img {
    width: 100%;
    height: 100%;
}

.lijst img:hover {
    transform: scale(1.03);
}


.lijst li section {
    color: black;
}


/* tweede pagina css begint hier */

.WintersportBanner img {
    height: 80vh;
    width: 100%;
    margin-bottom: 40px;
}

.WintersportHeader p {
    color: var(--hr-color);
    text-align: var(--Text-mid);
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 11px;
}

.WintersportHeader h1 {
    color: var(--h1-color);
    text-align: var(--Text-mid);
    font-size: 30px;
    line-height: 1.125px;
    letter-spacing: -1px;
    margin-bottom: 40px;
}

.bestemmingen h2 {
    text-align: var(--Text-mid);
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--h1-color)
}

.bestemmingen ul {
    display: flex;
    flex-direction: column;
    margin-left: 15%;

}

.bestemmingen li {
    width: 85%;
    list-style-type: none;
}

.bestemmingen li img {
    width: 100%;
    height: 50%;
}




.bestemmingen section hr {
    /* aanpassing hr voor content */
    margin-bottom: 10px;
}

.bestemmingen p {
    /* kap de zin af */
    hyphens: auto;
    margin: 25px;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: var(--Text-mid);
}

.bestemmingen section a {
    color: blue;
}




/* tweede pagina css eindigt hier */




/* Animations */

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-4-12 13:49:40
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}




/*End of animations */

/*Media query */
@media screen and (min-width: 768px) {




    nav img {
        margin-top: 0;
        left: 9rem;
        position: absolute;
    }

    nav {
        display: flex;
        /* navbar omzetten in flex */
        justify-content: space-between;
        /* ruimte tussen laten */
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        /* item centreren */
    }

    nav ul {
        /* child */
        display: flex;
        /* omzetten naar display flex */
        margin-right: 30px;
        flex-direction: row;
        /* omzetten van column naar row */
        justify-content: flex-end;
        /* Zet linksjes aan het eind */
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        margin-left: 40px;
    }

    .banner h1 {
        left: 33%;
    }


    .lijst li {
        width: 100%;
    }

    .lijst {
        overflow: hidden;
    }

    .WintersportHeader h1 {
        font-size: 50px;
    }

    .bestemmingen section {
        flex-direction: row;
        display: inline-block;
        width: 40%;
        height: 30%;
        vertical-align: top;
        text-align: center;

    }

    .bestemmingen li img {
        width: 50%;
        height: 80%;
    }

    .bestemmingen li {
        width: 100%;
    }

    .bestemmingen section p {
        white-space: normal;
    }


}